<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formular</title>
</head>
<body>
  <form action="/analiza" method="post">
    <textarea name="analiza" placeholder="Type something..." cols="40" rows="10"></textarea>
    <button type="submit">Analiziraj</button>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae similique quia dolores voluptatibus eius, impedit dicta minus nihil beatae in?
    </p>
  </form>
</body>
</html>